.menu-left {
    width: 12.5rem; /* Ancho del menú izquierdo */
    height: 100vh; /* Altura completa de la ventana */
    float: left;
    border: thin solid #d94100;
    margin-right: 2rem;
  }

  .logodamm {
    width: 12.44rem;
    height: 6.87rem;
    border: thin solid #d94100;
  }

  /* Estilos para el menú en la parte superior */
.menu-top { /* Color rojo muy claro */
    height: 6.9rem; 
    border: thin solid #d94100;
    /* Otros estilos para la barra de menú superior */
  }

  .cercador {
    float: right;
    margin-top: 3rem;
    margin-right: 7.8rem;
    width: 12rem;
    height: 2rem;
  }

  .bold-text {
    font-weight: bold;
    margin-right: 0.5rem;
    /* Otros estilos si es necesario */
  }  
  
  .menu-mapa {
    margin-left: 12rem;
    margin-top: 2rem;
  }
  
  
  
  