header {
  background-color: #dd0501;
  padding: 1.5rem;
}

.header-div {
  display: flex;
}

.logodamm {
  width: 8rem;
  height: 4rem;
  margin-right: 5rem;
}

.beerdrive-title {
  margin-top: 1rem;
}

.beerdrive-span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: auto;
}

.bars-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.llista-titol {
  font: bold;
  font-size: 200%;
  margin: 0;
}

.back {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.menu-details {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

  .bold-text {
    font-weight: bold;
    margin-right: 0.5rem;
    /* Otros estilos si es necesario */
  }  
  
  .menu-mapa {
    margin-left: 12rem;
    margin-top: 2rem;
  }

  .buttons-container {
    display: flex;
    gap: 2rem;
    margin-right: 7rem;
  }
  
  
  
  