section {
  flex: 1;
  min-width: 0;
  padding: 1rem;
  padding-left: 2rem;
}

header {
  background-color: #dd0501;
  padding: 1.5rem;
}

.beerdrive-title {
  margin-top: 1rem;
}

.beerdrive-span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: auto;
}

.bars-top {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.llista-titol {
  font: bold;
  font-size: 200%;
  margin: 0;
}

.first-row {
  display: flex;
  align-items:center;
  margin-top: 0.5rem;
}

.first-row .btn-primary {
 display: flex;
 width: 4rem;
 padding: 5px;
 font-size: 13px;
 background-color: #d94100;
 border: none;
 border-radius: 4px;
 color: white;
 cursor: pointer;
 justify-content:center;
 align-items: center;
 height: 30px;
}

.form-group2 {
  margin: 10px;
  display: flex;
  align-items: center;
  margin-left: 2rem;
 }
 
 .search-form {
   display: flex;
 }

 .filter-form select, .search-form input[type="text"] {
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
 }

 .search-form .btn-primary2 {
  display: flex;
  width: 4rem;
  padding: 5px;
  font-size: 13px;
  background-color: #d94100;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  justify-content:center;
  align-items:center;
  margin-left: 1rem;
 }

 .reset {
  margin-top: 0.5rem;
  width: 2rem;
  height: 2rem;
 }

 .section-top {
  margin-top: 0.5rem;
 }

 .form-group {
  margin: 10px;
  display: flex;
  align-items: center;
 }
 
 .form-group label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  width: 30%;
 }

 .form-inline {
  display: flex;
  align-items: center;
}

.filter-form .form-group {
  margin: 10px;
  display: flex;
  align-items: center;
 }
 
 .form-group label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin-right: 1rem;
  width: 30%;
 }

 .form-group label {
  margin-right: 10px;
  font-weight: bold;
}

.form-group select {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group select:focus {
  outline: none;
  border-color: #d94100;
  box-shadow: 0 0 5px #d94100;
}

.btn-primary2 {
  background-color: #d94100;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary2:hover {
  background-color: #d94160;
}

.btn-primary2:focus {
  outline: none;
  box-shadow: 0 0 5px #d94100;
}

.filtres-select {
  margin-left: 0rem;
}

.menu-top-llista{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0.75rem;
  align-items: center;
  border-bottom: 3px solid #d94100;
  padding: .3rem 0;
  text-align: left;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.col-llista1 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 6rem;
  margin-right: 15.5rem;
}

.col-llista2 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 6rem;
  margin-right: 10.65rem;
}

.col-llista3 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 6rem;
  margin-right: 8.5rem;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logodamm {
  width: 8rem;
  height: 4rem;
  margin-right: 5rem;
}

/* Estilos para registration-container */
.registration-container {
  display: flex;
  align-items: center;
  margin-right: 2rem; /* Ajusta el margen derecho según sea necesario */
}

/* Estilos para registration-select */
.registration-select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem; /* Ajusta el margen derecho según sea necesario */
}

.registration-select:focus {
  outline: none;
  border-color: #d94100;
  box-shadow: 0 0 5px #d94100;
}

/* Estilos para registration-option */
.registration-option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.registration-option:hover {
  background-color: #d94100;
  color: #fff;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 15rem; /* Alinea los elementos a la derecha */
}

.menu li {
  margin-right: 2rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.menu li:hover {
  text-decoration: underline;
}

.menu-li-active {
  text-decoration: underline;
}

