header {
  background-color: #dd0501;
  padding: 1.5rem;
}

.beerdrive-title {
  margin-top: 1rem;
}

.beerdrive-span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: auto;
}

.header-div {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos dentro de header-div */
}

.logodamm {
  width: 8rem;
  height: 4rem;
  margin-right: 1rem;
}

.menu-top {
  height: 2rem; /* Ajusta la altura según tus necesidades */
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.calendar-container {
  padding: 1rem;
  margin-left: calc(9rem); /* Dos tercios + margen de 1rem */
  width: calc(60%); /* Dos tercios - 2 * margen de 1rem */
  height: 30rem;

}

.calendar-custom .rbc-slot-selecting {
  background-color: rgba(100, 100, 100, 0.5) !important;
}


.task-list-container {
  padding: 1rem;
  margin-right: calc(3rem);
  width: 20%; /* Tercio del espacio disponible */
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.selected-date-info {
  margin-top: 1rem;
}
