.menu-left {
  width: 12.5rem; /* Ancho del menú izquierdo */
  height: 100vh; /* Altura completa de la ventana */
  float: left; /* Posición a la izquierda */
}

/* Estilos para el menú en la parte superior */
.menu-top { /* Color rojo muy claro */
  height: 6.9rem; /* Altura de la barra de menú superior */
  /* Otros estilos para la barra de menú superior */
}

.logodamm {
  width: 12.5rem;
  height: 7rem;
  margin-bottom: 20px;
}

.cercador {
  float: right;
  margin-top: 3rem;
  margin-right: 10rem;
  width: 10rem;
  height: 1.5rem;
}






